#register {
  border: 0;
}

.ta-c {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.w-48 {
  width: 48%;
}

.p-15 {
  padding: 15px;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}


.fs-i {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}



.nbinput {
  /* Firefox */
  -moz-appearance: textfield;
  /* Chrome */
  &::-webkit-inner-spin-button

{
  -webkit-appearance: none;
  margin: 0;
}

/* Opéra*/
&::-o-inner-spin-button {
  -o-appearance: none;
  margin: 0;
}

}

input:focus {
  border-color: black;
  box-shadow: 0 0 5px rgba(98, 101, 228, 1);
}


.tar {
  text-align: right;
}



.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0,0,0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
}


.popup {
  margin: 10% auto;
  width: 70%;
  background-color: white;
  padding: 1em;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.btn-annuler {
  color: #fff;
  background-color: #fa2f2f;
  border-color: #e64949;
}


